@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500&family=Source+Code+Pro:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: 'Bai Jamjuree', sans-serif;
}

body{
    background-color: #C23373;
    
}

.container{
    display: grid;
    grid-template-columns: 50% auto;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 75%;
    height: 65%;
    min-height: 25rem;
    min-width: 436px;
    border-radius: 0.75rem;
    background-color: #F6635C;
    padding: 2rem 3rem;
    box-shadow: rgba(0, 0.15, 0.15, 0.15) 0px 6px 10px;
}

.img-container{    
    margin: auto 0 auto 20%;
}

.img-store{
    width: 70%;
    min-width: 10rem;
}

div label{
    font-size: 1.1rem;
}

select,input{
    width: auto;
    height: 1.75rem;
    padding: 0rem 0.6rem;
    border-radius: 0.5rem;
}

#table-desired{
    width: 1rem;
}

form{
    margin: auto auto;
}

.form-container{
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 1rem;
    padding: 1rem 0rem 1rem 0rem;
} 

.flex-button{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}

button{
    width: 7rem;
    height: 2rem;
    background-color: #FFBA86;
    border: none;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

.home{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 2px solid #000;
    position: fixed;
    top : 85%;
    left: 90%;
    
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

  @media screen and (max-width: 1000px) {
    .img-store {
        display: none;
    }

    .container {
        grid-template-columns: auto;
        height: auto;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }

    select,input {
        margin-top: -0.75rem;
        margin-bottom: 0rem;
        height: 2rem;
    }
    button{
        width: 6rem;
    }
    form{
        width: 100%;
    }
    .home{
        top:2.5%;
        left: 85%;
    }
  }